#sideNavigation  {
    /* Position & Layout */
    visibility: hidden;
    position: fixed;
    z-index: 1;
    top: 50%;
    flex-direction: column;

    /* Display * Visibility */
    display: flex;
}

#sideNavigation img {
    /* Box Model */
    margin-left: 10px;
    margin-bottom: 5px;
    width: 40px;
}

#sideNavigation img:hover {
    animation: sway 2s infinite;
}

@keyframes sway {
    0% {transform: rotate(8deg);}
    50% {transform: rotate(-5deg);}
    100%{transform: rotate(8deg);}
}

@media screen and (min-width: 650px) {
    #sideNavigation {
        visibility: visible;
    }
}

@media screen and (min-width: 2650px) {
    #sideNavigation img {
        /* Box Model */
        margin-left: 100px;
        width: 100px;
    }
}