.movieArticle {
    /* Position & Layout */
    flex-direction: column;

    /* Display & Visibility */
    display: flex;

    /* Box Model */
    margin-bottom: 5em;
    width: 100vw;

    /* Background */
    background-color: white;
}

.movieLeftSideFlex h2 {
    margin-bottom: 0.5em;
}

.tags {
    display: flex;
    visibility: hidden;
}

.tags li {
    /* Box Model */
    margin-right: 1em;
    margin-right: 1em;
    border-radius: 5px;
    padding: 0.5em 1em 0.5em 1em;
    margin-bottom: 1em;

    /* Background */
    background-color: #E7E7E7;

    /* Typography */
    font-weight: 700;
    list-style: none;

}

.movieLeftSideFlex {
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.movieRightSideFlex {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.movieRightSideFlex .buttonStyle {
    font-size: 1em;
}

.moviePlotText {
    margin-top: -1.5em;
    padding-bottom: 1.5em;
}

@media screen and (min-width: 280px) {
    .movieArticle h2 {
        font-size: 1.2em;
    }

    .movieArticle p {
        font-size: 1em;
    }

    .movieRightSideFlex .buttonStyle {
        font-size: 0.8em;
    }

    .movieArticle img {
        width: 100vw;
    }
}

@media screen and (min-width: 350px) {
    .movieArticle p {
        font-size: 1em;
    }

    .tags li {
        font-size: 0.8em;
    }
}

@media screen and (min-width: 550px) {
    .movieArticle img {
        width: 110%;
    }

    .moviePlotText {
        margin-top: 0;
    }

    .tags {
        padding-top: 1em;
        visibility: visible;
    }
}

@media screen and (min-width: 800px) {
    .movieArticle {
        justify-content: center;
        display: flex;
        flex-direction: row;
        padding: 5em;
        width: 80%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .movieArticle img {
        width: 80%;
    }

    .movieRightSideFlex {
        width: 50%;
    }

    .movieArticle h2 {
        font-size: 1.3em;
    }

    .movieArticle p{
        font-size: 1.2em;
    }

    .tags li {
        font-size: 0.8em;
    }
}
